---
import { getCollection } from 'astro:content';
import { ArrowRight } from 'lucide-preact';
import SmallCard from 'src/entities/post/ui/SmallCard.astro';
import { Layout } from '../layouts';
import { reader } from '../shared/lib/reader.ts';
import Container from '../shared/ui/Container.astro';
import Section from '../shared/ui/Section.astro';
import Slider from '../shared/ui/carusel/CaruselSplide.astro';
import GreeatingsCards from '../widgets/greetings/GreetingsCards.astro';

const posts = await getCollection('posts');
const technologies = await reader.collections.technologies.all();
const data = await reader.singletons.main.read()


---

<Layout title={data?.title}>
	<Section>
		<Container className={'flex flex-col items-end justify-end'}>
			<div class='rounded-lg backdrop:blur-md bg-black/70 p-4 ring-2 ring-green-600 shadow-green-600 shadow-lg'>
				<h1 class='text-3xl font-bold'>{data?.title}</h1>
				<p class='text-lg text-right'>{data?.subTitle}</p>
			</div>
		</Container>
	</Section>
	<GreeatingsCards />
	<Section>
		<Container>
			<div class='rounded-lg backdrop:blur-md bg-black/60'>
				<h2 class='flex justify-end text-right text-lg italic'>
					<p class='w-auto ml-auto rounded-lg'>
						"{data?.description}"
					</p>
				</h2>
			</div>
		</Container>
	</Section>
	<Section>
		<Container>
			<a
				href={'/technologies'}
				class='flex gap-2 items-center'
				><h2 class='text-2xl font-bold'>Технологии которые я использую</h2>
				<ArrowRight /></a
			>
		</Container>
	</Section>
	<Slider slides={technologies?.map((item) => ({...item.entry}))} />

	<Section>
		<Container>
			<h2 class='text-2xl font-bold'>Посты</h2>
			<div>
				{
					posts.map(post => (
						<a href={'posts/' + post.slug} class=" w-full">
							<SmallCard
								title={post.data.title}
								description={post.body}
							/>
						</a>
						// <li>
						// 	<a class="button" href={`/posts/${post.slug}`}>{post.data.title}</a>
						// </li>
					))
				}
			</div>
		</Container>
	</Section>
</Layout>

<style is:global>
	.filling {
		/* background-color: blue; */
		color: white;
		padding: 10px 20px;
		background-image: linear-gradient(to right, blue 0%, blue 50%, green 50%, green 100%);
		background-size: 200% 100%;
		transition: background-position 0.5s;
	}

	.filling:hover {
		background-position: -100% 0;
	}
</style>
