---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Container from '../shared/ui/Container.astro';
import Section from '../shared/ui/Section.astro';
import ImageCarousel from '../shared/ui/Carusel/Carusel'

const posts = await getCollection('posts');
const technologies = await getCollection('technologies');
const data = await getCollection('main-page');
console.log('technologies', technologies);
const pageData = data[0];
---

<Layout title={pageData.data.title}>
	<Section>
		<Container className={'flex flex-col items-end justify-end'}>
			<div class='rounded-lg backdrop:blur-md bg-black/70 p-4 ring-2 ring-green-600'>
				<h1 class='text-3xl font-bold'>{pageData.data.title}</h1>
				<p class='text-lg text-right'>{pageData.data.subtitle}</p>
			</div>
			{
				process.env.DEV_MODE && (
					<p>
						<a href='/keystatic'>Click here to visit the Admin UI</a>, or the link below
						to view a post in the collection.
					</p>
				)
			}
		</Container>
	</Section>
	<Section>
		<Container>
			<div class='rounded-lg backdrop:blur-md bg-black/60'>
				<h2 class='flex justify-end text-right text-lg italic'>
					<p class='w-auto ml-auto rounded-lg'>
						"{pageData.body}"
					</p>
				</h2>
			</div>
		</Container>
	</Section>
	<Section>
		<Container>
			<a href={'/technologies'}><h2>Technologies</h2></a>
			<ImageCarousel technologies={technologies} client:load />
		</Container>
	</Section>
	<Section>
		<Container>
			<h2>Posts</h2>
			<ul>
				{
					posts.map(post => (
						<li>
							<a href={`/posts/${post.slug}`}>{post.data.title}</a>
						</li>
					))
				}
			</ul>
		</Container>
	</Section>
</Layout>
../shared/ui/Carusel/Carusel