---
import { ArrowRight } from 'lucide-preact';
import { marked } from 'marked';
import { Fragment } from 'preact';
import SmallCard from 'src/entities/post/ui/SmallCard.astro';
import fetchApi from 'src/shared/lib/strapi';
import Flex from 'src/shared/ui/Flex.astro';
import { Layout } from '../layouts';
import { reader } from '../shared/lib/reader.ts';
import Container from '../shared/ui/Container.astro';
import Section from '../shared/ui/Section.astro';
import Slider from '../shared/ui/carusel/CaruselSplide.astro';
import GreeatingsCards from '../widgets/greetings/GreetingsCards.astro';

// const posts = await reader.collections.posts.all();
const technologies = await reader.collections.technologies.all();
const data = await reader.singletons.main.read();

const posts = await fetchApi({
	endpoint: 'posts',
	query: {
		populate: '*',
	},
	wrappedByKey: 'data',
});
---

<Layout title={data?.title}>
	<Section paddings={[2, 4, 4]}>
<Container className={'flex flex-col items-center md:items-end justify-end'}>
			<div
				class='rounded-lg backdrop:blur-md bg-black/70 p-4 border-2 border-green-600 shadow-green-600 shadow-lg'>
				<h1 class='text-3xl font-bold'>{data?.title}</h1>
				<p class='text-lg text-right'>{data?.subTitle}</p>
			</div>
		</Container>
	</Section>
	<GreeatingsCards />
	<Section>
		<Container>
			<div class='rounded-lg backdrop:blur-md bg-black/60'>
				<h2 class='flex justify-end text-right text-lg italic'>
					<p class='w-auto ml-auto rounded-lg'>
						"{data?.description}"
					</p>
				</h2>
			</div>
		</Container>
	</Section>
	<Section>
		<Container>
			<a
				href={'/technologies'}
				class='flex gap-2 items-center'
				><h2 class='text-2xl font-bold'>Технологии которые я использую</h2>
				<ArrowRight /></a
			>
		</Container>
	</Section>
	<Slider
		slides={technologies}
		transition:persist-props
	/>

	<Section>
		<Container className={'flex flex-col gap-8'}>
			<a
				class='bg-bg-main w-fit rounded-lg p-4 border-1 border-accent'
				href={'/posts'}>
				<h2 class='text-2xl font-bold flex gap-4 items-center'>
					Посты <span><ArrowRight /></span>
				</h2>
			</a>
			<Flex className='flex-wrap'>
				{
					posts?.map(post => (
						<a
							href={'posts/' + post.attributes.slug}
							class='w-fit rounded-lg p-4 bg-bg-main'>
							<SmallCard
								title={post.attributes.title}
								description={post.attributes.content}>
								<Fragment set:html={marked.parse(post.attributes.content)} />
							</SmallCard>
						</a>
						// <li>
						// 	<a class="button" href={`/posts/${post.slug}`}>{post.data.title}</a>
						// </li>
					))
				}
			</Flex>
		</Container>
	</Section>
</Layout>

<style is:global>
	.filling {
		/* background-color: blue; */
		color: white;
		padding: 10px 20px;
		background-image: linear-gradient(to right, blue 0%, blue 50%, green 50%, green 100%);
		background-size: 200% 100%;
		transition: background-position 0.5s;
	}

	.filling:hover {
		background-position: -100% 0;
	}
</style>
